.about {
  width: 100%;
}

.about__intro {
  .col();
  .size-xxs(22);
  .size-lg(12);

  .lg-block({
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  });
}

.about__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 300px);


  .xlg-block({
    max-width: 1280px;
    margin: 0 auto;
  });

  .lg-block({
    width: 70%;
    margin: 0 auto;
  });

  .md-block({
    width: 70%;
    margin: 0 auto;
  });

  .sm-block({
    width: 80%;
    margin: 0 auto;
  });

  .xs-block({
    width: 90%;
    margin: 0 auto;
  });

}

.about__block {
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}


.about__block-01 {
  grid-column: 1;
}

/*
.about__block-02 {
  grid-column: 1;
  grid-row: 2;
}

.about__block-03 {
  grid-column: 2;
  grid-row: 3;
}

.about__block-04 {
  grid-column: 3;
  grid-row: 4;
}

.about__block-05 {
  grid-column: 1;
  grid-row: 5;
}

*/

.about__header {
  .header2();

  margin-top: 60px;
  text-align: left;
}

.about__txt {
  margin-top: 10px;
  margin-bottom: 30px;
}


