.about {
  width: 100%;

  .xlg-block({
    margin-top: 90px;
  });

  .lg-block({
    margin-top: 50px;
  });
}

.about__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "block1 block2 block2"
    "block3 block3 block4"
    "block5 block5 block6";

  border-radius: 10px;
  box-shadow: 0 0 10px fade(@black, 20%);

  .xlg-block({
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 150px; });

  .lg-block({
    width: 70%;
    margin: 0 auto; });

  .md-block({
    width: 70%;
    margin: 0 auto; });

  .sm-block({
    width: 80%;
    margin: 0 auto; });

  .xs-block({
    width: 90%;
    margin: 0 auto; });

}

.about__block {
  margin-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.about__block-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: block1;
  margin: 0;
  background-color: @base;
  transition: 1s;

  &:hover {
    background-color: @dark;
    transition: 1s;
  }
}

.about__block-02 {
  grid-area: block2;
  padding: 80px;
  transition: 1.5s;

  &:hover {
    background-color: fade(@exlight, 50%);
    transition: 1.5s;
  }
}

.about__block-03 {
  grid-area: block3;
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url("../img/about_background-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__block-04 {
  grid-area: block4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 40px;
  background-color: fade(@exlight, 20%);
}

.about__block-05 {
  grid-area: block5;
  padding: 70px;
}

.about__block-06 {
  grid-area: block6;
  display: flex;
  margin: 0;
  padding: 0;
  background-image: url("../img/about_background-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__logo-link {
  transition: 1s;

  &:hover {
    opacity: 0.5;
    transform: rotateY(180deg);
    transition: 1s;
  }

}

.about__header {
  .header2();

  margin-top: 10px;
  text-align: left;
}

.about__txt {
  margin-top: 10px;
  margin-bottom: 20px;
}


