.footer-cont__logo-block {
  margin-bottom: 30px;
  border-bottom: 1px solid @lightgray;
}

.footer-cont__block-info {
  display: flex;
  justify-content: flex-start;
}

.footer-cont__txt {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 300;
  color: @lightgray;
}

.footer-cont__nav {
  margin-right: 200px;
}

.footer-cont__nav-item {
  margin-bottom: 8px;
}

.footer-cont__nav-link {
  text-decoration: none;
  color: @lightgray;
}

.footer-cont__adress-item {
  margin-bottom: 8px;
  color: @lightgray;
}

.footer-cont__header {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: @white;
}
