.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-color: @base;
  perspective: 1000px;
}

.intro__logo-link {
  transition: 1s;

  &:hover {
    opacity: 0.5;
    transform: rotateY(180deg);
    transition: 1s;
  }

}

.intro__image {
  opacity: 0.5;
  transition: 1.3s;

  &:hover {
    opacity: 1;
    transition: 1.3s;
  }

  .xlg-block({
    margin-top: 80px;
    width: 650px;
  });

  .lg-block({
    margin-top: 60px;
    width: 550px;
  });
}

.intro__contacts {
  margin-bottom: 30px;
  font-size: 20px;
  color: @exlight;

  .lg-block({
    display: none;
  });
}

.intro__header {

  .col();
  .size-lg(12);

  .xxs-block({
    display: none;
  });

  .xlg-block({
    margin-top: 90px;
    font-size: 52px;
  });

  .lg-block({
    display: block;
    margin-top: 60px;
    text-align: center;
    font-size: 45px;
    font-weight: 300;
    color: @white;
    text-transform: uppercase;
    transition: 1s;

    &:hover {
      color: @light;
      transition: 1s;
    }
  });
}
