.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: @light;
  z-index: 50;
  transition: 0.7s;


  .lg-block({
    flex-direction: row;
    height: auto;
    padding: 0;
    background-color: @dark;

    &--inner {
      background-color: @gray;
      transition: 0.7s;
    }

    &:hover {
      background-color: @base;
      transition: 0.7s;
    }

  });
}

// base style

.main-nav__toggle {
  position: fixed;
  top: 30px;
  right: 20px;
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 20;

  .lg-block({
    display: none;
  });
}

.main-nav__toggle span::after,
.main-nav__toggle span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.main-nav__toggle span::after {
  top: 9px;
}

.main-nav__toggle span {
  position: relative;
  display: block;
}

.main-nav__toggle span,
.main-nav__toggle span::after,
.main-nav__toggle span::before {
  width: 100%;
  height: 4px;
  background-color: @exlight;
  transition: all 0.5s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
.main-nav--opened .main-nav__toggle span {
  background-color: transparent;
}

.main-nav--opened .main-nav__toggle span::before {
  transform: rotate(45deg) translate(5px, 5px);
}

.main-nav--opened .main-nav__toggle span::after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.main-nav--closed.main-nav {
  left: 100%;

  .lg-block({
left: 0;
  });
}

// end of toggle

.main-nav__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  z-index: 55;

  .lg-block({
    flex-direction: row;

  });
}

.main-nav__item {
  position: relative;
  margin-bottom: 18px;

  &--list {

    ul {
      transition: 0.3s;
      transform-origin: top;
      transform: scale(0);
    }
  }

  &--list::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: -20px;
    width: 200px;
    height: 45px;
  }

    &--list:hover {

      ul {
        display: block;
        transition: 0.3s;
        transform: scale(1);
        opacity: 1;
      }

    }


  .lg-block({
    margin-top: 18px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 21px;
    text-transform: uppercase;
  });

}

.main-nav__link {
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  line-height: 34px;
  color: @white;

  &:hover {
    color: @lightgray;
    transition: 0.7s;
  }

  &--activ {
    .lg-block({
      color: @exlight;
    });
  }

  &--activ:hover {
    .lg-block({
      color: @exlightgray;
      transition: 1s;
    });
  }
}

.main-nav__logo-link {
  margin-top: 120px;
  margin-bottom: 30px;

  .lg-block({
    display: none;
  });
}
