/*
  .size-xxs(12);
  .size-xs(12);
  .size-sm(10);
  .size-md(6);
  .size-lg(2);
  */
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1420px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.debug {
  position: relative;
  height: 100vh;
  position: fixed;
  width: 100%;
}
.debug > div {
  height: inherit;
  max-width: 1420px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.debug > div > div {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
.debug > div > div > div {
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  width: calc(4.166666666666667% - 10px);
  height: inherit;
  outline: 1px solid rgba(240, 240, 0, 0.24);
  background: rgba(0, 0, 0, 0.1);
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  font-size: 0;
  overflow: hidden;
}
.scroll-anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.button {
  background-color: #c80066;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}
.button:hover {
  background-color: #ff8daf;
  color: #ab0157;
}
html {
  height: 100%;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-SemiBold.woff2') format('woff2'), url('fonts/SourceSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Light.woff2') format('woff2'), url('fonts/SourceSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Italic.woff2') format('woff2'), url('fonts/SourceSansPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Regular.woff2') format('woff2'), url('fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('fonts/SourceSansPro-Bold.woff2') format('woff2'), url('fonts/SourceSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ff8daf;
  z-index: 5;
  transition: 0.7s;
}
.main-nav__toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  z-index: 20;
}
.main-nav__toggle span::after,
.main-nav__toggle span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.main-nav__toggle span::after {
  top: 9px;
}
.main-nav__toggle span {
  position: relative;
  display: block;
}
.main-nav__toggle span,
.main-nav__toggle span::after,
.main-nav__toggle span::before {
  width: 100%;
  height: 4px;
  background-color: #ffc4df;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}
/* on activation */
.main-nav--opened .main-nav__toggle span {
  background-color: transparent;
}
.main-nav--opened .main-nav__toggle span::before {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}
.main-nav--opened .main-nav__toggle span::after {
  -webkit-transform: rotate(-45deg) translate(7px, -8px);
          transform: rotate(-45deg) translate(7px, -8px);
}
.main-nav--closed.main-nav {
  left: 100%;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.main-nav__item {
  margin-bottom: 18px;
}
.main-nav__link {
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  line-height: 34px;
  color: #ffffff;
}
.main-nav__logo-link {
  margin-top: 120px;
  margin-bottom: 30px;
}
.main {
  width: 100%;
}
.intro {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #c80066;
}
.intro__image {
  margin-top: 100px;
  width: 235px;
  opacity: 0.6;
}
.intro__contacts {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #ffc4df;
}
.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.home__header {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  color: #c80066;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 200px) {
  .wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .debug > div {
    padding-left: 0px;
    padding-right: 0px;
  }
  .debug > div {
    padding-left: 0px;
    padding-right: 0px;
  }
  .debug > div > div {
    margin-left: 0px;
    margin-right: 0px;
  }
  .debug > div > div > div {
    margin-left: 0px;
    margin-right: 0px;
  }
  .debug > div > div > div {
    width: calc(4.166666666666667% - 0px);
  }
  .home {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home__header {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 560px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .debug > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .debug > div > div {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
  .debug > div > div > div {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
  .debug > div > div > div {
    width: calc(4.166666666666667% - 5px);
  }
  .home {
    margin-left: -2.5px;
    margin-right: -2.5px;
  }
  .home__header {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
}
@media screen and (min-width: 780px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .debug > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .debug > div > div {
    margin-left: -5px;
    margin-right: -5px;
  }
  .debug > div > div > div {
    margin-left: 5px;
    margin-right: 5px;
  }
  .debug > div > div > div {
    width: calc(4.166666666666667% - 10px);
  }
  .home {
    margin-left: -5px;
    margin-right: -5px;
  }
  .home__header {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media screen and (min-width: 1410px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
  .debug > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
